body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .loader {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ffb647, white);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    height: 100vh;
  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .loader {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #09c0fa, white);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    height: 100vh;
  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
/* .load {
  width: 25%;
  height: 25%;
  display: block;
  font-size: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation-name: "my-animation";
  animation-name: "my-animation";
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}

@-webkit-keyframes my-animation {
  from {
    opacity: 0;
  }
  15%,
  45% {
    opacity: 0.15;
  }
  25%,
  75% {
    opacity: 0.35;
  }
  to {
    opacity: 0;
  }
}

@keyframes my-animation {
  from {
    opacity: 0;
  }
  15%,
  45% {
    opacity: 0.15;
  }
  25%,
  75% {
    opacity: 0.35;
  }
  to {
    opacity: 0;
  }
} */
.load {
  width: 15%;
  height: 15%;
  display: block;
  font-size: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: parpadeo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.logo_mobile {
  display: none;
}

.header {
  height: 100vh;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  background-color: #ffb647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 992px;
  margin: 0 auto;
}

.nav-menu-link {
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font: normal 20px "Lato", sans-serif;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 80px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

.nav-menu-item {
  margin: 0 10px;
  line-height: 40px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 30px;
}

.nav-menu-link {
  color: #171c26;
  padding: 8px 15px;
  border-radius: 3px;
}

.nav-toggle {
  color: #171c26;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.nav-menu-link {
  position: relative;
}
.nav-menu-link:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: 0;
  margin: -1px 35px;
  background-color: #09c0fa;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.nav-menu-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-menu-link-active {
  position: relative;
}
.nav-menu-link-active:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: 0;
  margin: -1px 35px;
  background-color: #171c26;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.img_logo {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.footer {
  font: normal 16px "Lato", sans-serif;
  bottom: 0;
  width: 100%;
  background-color: #171c26;
  color: white;
  padding-bottom: 15px;
}

.zindex {
  z-index: -1;
}

.foot_text {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  font-size: 15px;
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  padding: 0px 0;
  margin-top: 40px;
  list-style: none;
}

.footer_li {
  text-align: center;
}

.footer_link {
  color: white;
  text-decoration: none;
}

.footer_link:hover {
  color: #ffb647;
}

.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.section_1 {
  font: normal 20px "Raleway", sans-serif;
}

.section_2 {
  font: normal 20px "Raleway", sans-serif;
}

.section_3 {
  font: normal 20px "Raleway", sans-serif;
}

.section_4 {
  font: normal 20px "Raleway", sans-serif;
}

.Iam p {
  font: bold 60px "Lato", sans-serif;
  color: white;
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

.Iam b {
  font: normal 40px/50px "Raleway", sans-serif;
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 30px;
}

.Iam .innerIam {
  display: inline-block;
  color: #ffb647;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  z-index: -2;
  text-align: left;
  /*animation*/
  -webkit-animation: move 5s;
          animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
}
.titulo_objetivo {
  font: bold 30px "Lato", sans-serif;
  color: #ffb647;
  -webkit-transform: translate(100px, 20px);
          transform: translate(100px, 20px);
}

.contenido_section2_p {
  margin-left: 20%;
  margin-right: 20%;
  font: normal 16px "Raleway", sans-serif;
}

.titulo_skills {
  font: bold 30px "Lato", sans-serif;
  color: #ffb647;
  -webkit-transform: translate(100px, 20px);
          transform: translate(100px, 20px);
}

.text_skills {
  font: bold 30px "Lato", sans-serif;
  color: #171c26;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 50% auto;
}

.titulo_card {
  font: bold 30px "Lato", sans-serif;
}

.contacto_text {
  font: bold 30px "Lato", sans-serif;
  color: #ffb647;
}

.footer {
  font: normal 20px "Raleway", sans-serif;
}

.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.theme {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 25px;
  line-height: 130px;
  cursor: pointer;
}

.light {
  background-color: white;
  color: black;
}

.black {
  background-color: #171c26;
  color: white;
}
.black header {
  background-color: #09c0fa;
}
.black nav {
  background-color: #09c0fa;
}
.black .nav-menu-link:before {
  background-color: #ffb647;
}
.black footer {
  background-color: black;
  color: white;
}
.black .footer_link:hover {
  color: #09c0fa;
}
.black .parrafo_centro {
  background-color: black;
}
.black .derecha {
  background-color: black;
}
.black .izquierda {
  background-color: black;
}
.black .p_saludo {
  color: black;
}
.black .t_skills {
  color: white;
}
.black .Iam p {
  color: white;
}
.black .Iam .innerIam {
  color: #09c0fa;
}
.black .img_inicio:before {
  background-color: #0000009a;
}
.black .img_inicio_mobile:before {
  background-color: #0000009a;
}
.black .skew {
  background: black;
}
.black .titulo_objetivo {
  color: #09c0fa;
}
.black .glass_skills {
  /* From https://css.glass */
  background: rgba(9, 192, 250, 0.54);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(9, 192, 250, 0.3);
}
.black .titulo_skills {
  color: #09c0fa;
}
.black .card {
  background-color: black;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}
.black .contacto_text {
  color: #09c0fa;
}
.black .boton {
  background-color: #09c0fa;
}
.black .input:focus {
  border: 2px solid #09c0fa;
}
.black .footer_link {
  color: white;
}
.black .contain_contacto {
  background-color: black;
}
.black .contacto {
  background-color: black;
}
.black .hr_mobile {
  border: solid 1px #09c0fa;
}

.color-brand {
  background-color: #ffb647;
}

.color-detalles {
  background-color: #09c0fa;
}

.contenido_colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.salto_mobile {
  display: none;
}

.Iam {
  -webkit-transform: translate(100px, 20px);
          transform: translate(100px, 20px);
}

.t_skills {
  -webkit-transform: translate(100px, 20px);
          transform: translate(100px, 20px);
  margin-right: 200px;
  font: normal 16px "Raleway", sans-serif;
}

.section_1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #171c26;
  z-index: -1;
}

.izquierda {
  width: 100%;
  height: 50%;
  background-color: #171c26;
  position: static;
  z-index: -3;
}

.derecha {
  height: 50vh;
  width: 50%;
  background-color: #171c26;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_inicio_mobile {
  display: none;
}

.img_inicio {
  width: 40%;
  height: 80%;
  display: block;
  margin: auto;
  background-image: url(../imagenes/recorte_web.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.img_inicio:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171c269a;
}

.parrafo_centro {
  height: 50%;
  width: 100%;
  background-color: #171c26;
  color: white;
  text-align: justify;
}

.section_2 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skew {
  position: absolute;
  margin-top: -63px;
  width: 100%;
  z-index: -5;
  padding: 60px 0;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  background: #171c26;
}

.objetivo_div {
  width: 25%;
}

.contenido_section2 {
  padding: 60px 200px;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

hr {
  text-align: center;
  border: solid 1px #09c0fa;
  margin: auto;
  width: 90%;
  margin-top: 50px;
}

.section_3 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.skills_div {
  width: 25%;
  margin-bottom: 40px;
}

.skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 30%;
  height: 300px;
  border-radius: 10px;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container_card {
  padding: 2px 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img_card1,
.img_card2,
.img_card3 {
  height: 150px;
  max-width: 250px;
  display: block;
  margin: auto;
  padding: 10px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.img_card1 {
  background-image: url(../imagenes/html.png);
}

.img_card2 {
  background-image: url(../imagenes/ux_ui.png);
}

.img_card3 {
  background-image: url(../imagenes/SEO.png);
}

.content_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lista_skill {
  margin-top: 10px;
  list-style: none;
  padding: 10px;
  font: normal 20px "Raleway", sans-serif;
}

.figma {
  margin-top: 40%;
}

.section_4 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.contacto {
  width: 100%;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171c26;
}

.form_izquierda {
  font: normal 20px "Raleway", sans-serif;
  color: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_derecha {
  font: normal 20px "Raleway", sans-serif;
  color: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario {
  width: 75%;
  text-align: left;
}

.label {
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input:focus {
  border: 2px solid #ffb647;
  outline: none;
}

.boton {
  color: black;
  background: #ffb647;
  border: 0px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.contain_contacto {
  width: 100%;
  text-align: center;
  background-color: #171c26;
  padding: 20px 0px;
}

.hr_mobile {
  display: none;
  border: solid 1px #ffb647;
}

.redes_sociales {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font: normal 16px "Raleway", sans-serif;
}

body {
  margin-left: 80px;
  width: calc(100% - 80px);
}

section[id] {
  scroll-margin-top: 70px;
}

@media (max-width: 900px) {
  body {
    padding-top: 60px;
    margin-left: 0px;
    width: 100%;
  }

  .header {
    height: 60px;
    width: 100%;
  }

  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .logo {
    padding: 0 30px;
    line-height: 60px;
  }

  .logo_mobile {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
  }

  .img_logo {
    display: none;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    background-color: #171c26;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    z-index: 3;
    left: 100%;
    -webkit-transition: left 0.9s;
    transition: left 0.9s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link {
    color: white;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }

  .nav-menu-link:hover,
.nav-menu-link-active {
    background: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-menu-link {
    position: relative;
  }
  .nav-menu-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -1px -12px;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .nav-menu-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  .nav-menu-link-active {
    position: relative;
  }
  .nav-menu-link-active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -1px -12px;
    background-color: #09c0fa;
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .theme {
    color: white;
  }

  .foot_text {
    width: 100%;
  }

  .footer_contact {
    width: 100%;
  }

  .footer {
    display: block;
    margin: 0;
  }

  .parrafo_centro {
    width: 25%;
  }

  .img_inicio_mobile {
    display: block;
    width: 30%;
    height: 60%;
    display: block;
    margin-top: 100px;
    background-image: url(../imagenes/recorte_web.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 10px;
  }

  .img_inicio_mobile:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171c269a;
  }

  .Iam {
    font: normal 20px "Lato", sans-serif;
  }

  .Iam p {
    font: bold 20px "Lato", sans-serif;
    color: white;
    height: 15px;
    float: none;
    text-align: center;
  }

  .Iam b {
    font: normal 30px "Raleway", sans-serif;
    height: 35px;
    top: 15px;
  }

  @-webkit-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -35px;
    }
    40% {
      top: -75px;
    }
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -35px;
    }
    40% {
      top: -75px;
    }
  }
  .Iam .innerIam {
    text-align: center;
  }

  .section_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .Iam {
    -webkit-transform: translate(0px, 130px);
            transform: translate(0px, 130px);
  }

  .t_skills {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    margin-right: 0px;
  }

  .izquierda {
    width: 100vw;
    height: 50vh;
    padding: 30px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .derecha {
    height: 50vh;
    width: 100vw;
    display: none;
  }

  .parrafo_centro {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25vh;
    width: 100vw;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
  }

  .objetivo_div {
    width: 100%;
    text-align: center;
  }

  .titulo_objetivo {
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .contenido_section2 {
    padding: 60px 120px;
    margin-left: 0px;
    margin-top: 30px;
  }

  .contenido_section2_p {
    margin-left: 0px;
    margin-right: 0px;
  }

  .skills_div {
    width: 100%;
    text-align: center;
  }

  .titulo_skills {
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .skills {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 75%;
    height: 350px;
    margin-bottom: 80px;
  }

  .img_card {
    min-height: 100px;
    max-width: 250px;
    display: block;
    margin: auto;
  }

  .form_izquierda {
    width: 100%;
  }

  .form_derecha {
    width: 100%;
    margin-top: 0px;
  }

  .hr_mobile {
    display: block;
  }
}
@media (min-width: 1400px) {
  .skew {
    -webkit-transform: skew(0deg, -5deg);
            transform: skew(0deg, -5deg);
    margin-top: -70px;
    padding: 70px 0;
  }

  .salto_mobile {
    display: block;
  }

  .izquierda {
    padding: 0px 12px;
  }

  .t_skills {
    margin-top: 50px;
  }
}
@media (min-width: 1600px) {
  .izquierda {
    padding: 0px 40px;
  }

  .t_skills {
    margin-top: 50px;
  }
}
@media (min-width: 1700px) {
  .skew {
    -webkit-transform: skew(0deg, -3deg);
            transform: skew(0deg, -3deg);
    margin-top: -70px;
    padding: 70px 0;
  }

  .salto_mobile {
    display: block;
  }

  .nav-menu-item {
    line-height: 120px;
  }

  .contenido_section2_p {
    font: normal 20px "Raleway", sans-serif;
  }

  .t_skills {
    font: normal 20px "Raleway", sans-serif;
  }

  .Iam {
    -webkit-transform: translate(70px, 20px);
            transform: translate(70px, 20px);
  }
}