@import "_variables.scss";

// estilos de columnas 1 seccion
.contenido_colum {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Iam {
  transform: translate(100px, 20px);
}

.t_skills {
  transform: translate(100px, 20px);
  margin-right: 200px;
}

.section_1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: $second_color;
  z-index: -1;
}

.izquierda {
  width: 100%;
  height: 50%;
  background-color: $second_color;
  // padding: 30px 20px;
  // display: flex;
  // justify-content: center;
  position: static;
  // text-align: center;
  z-index: -3;
}

.derecha {
  height: 50vh;
  width: 50%;
  background-color: $second_color;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.img_inicio_mobile {
  display: none;
}

.img_inicio {
  width: 40%;
  height: 80%;
  display: block;
  margin: auto;
  background-image: url(../imagenes/recorte_web.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.img_inicio:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171c269a;
}

.parrafo_centro {
  height: 50%;
  width: 100%;

  background-color: $second_color;
  color: white;
  // display: flex;
  text-align: justify;
  // padding: 50px;
  // align-items: center;
  // justify-content: center;
}

// estilo columnas 2 seccion

// div diagonal

.section_2 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.skew {
  position: absolute;
  margin-top: -63px;
  width: 100%;
  z-index: -5;
  padding: 60px 0;
  transform: skew(0deg, -5deg);
  background: $second_color;
}

// .arrow-right {
//   z-index: 1;
//   position: absolute;
//   margin-top: 0;
//   margin-left: 80px;
//   border-top: 60px solid transparent;
//   border-bottom: 60px solid transparent;

//   border-left: 60px solid $menu_color;
// }

.objetivo_div {
  width: 25%;
  // text-align: center;
}

.contenido_section2 {
  padding: 60px 200px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

hr {
  text-align: center;
  border: solid 1px $azul;
  margin: auto;
  width: 90%;
  margin-top: 50px;
}

// section 3

.section_3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.skills_div {
  width: 25%;
  margin-bottom: 40px;
  // text-align: center;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container_card {
  padding: 2px 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img_card1,
.img_card2,
.img_card3 {
  height: 150px;
  max-width: 250px;
  display: block;
  margin: auto;
  padding: 10px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.img_card1 {
  background-image: url(../imagenes/html.png);
}

.img_card2 {
  background-image: url(../imagenes/ux_ui.png);
}

.img_card3 {
  background-image: url(../imagenes/SEO.png);
}

// section 4
.section_4 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contacto {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: $second_color;
}

.form_izquierda {
  font: normal 20px $texto;

  color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_derecha {
  font: normal 20px $texto;

  color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// formulario
.formulario {
  width: 75%;
  text-align: left;
}
.label {
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input:focus {
  border: 2px solid $menu_color;
  outline: none;
}

.boton {
  color: black;
  background: $menu_color;
  border: 0px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.contain_contacto {
  width: 100%;
  text-align: center;
  background-color: $second_color;
  padding: 20px 0px;
}

.hr_mobile {
  display: none;
  border: solid 1px $menu_color;
}

.redes_sociales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
