@import "_variables.scss";

// estilos de columnas 1 seccion

.section_1 {
  display: flex;
  flex-wrap: wrap;
}

.izquierda {
  width: 50vw;
  height: 25vh;
  background-color: black;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -3;
}

.derecha {
  height: 25vh;
  width: 50vw;
  background-color: lightblue;
  padding: 20px;
}

.parrafo_centro {
  height: 25vh;
  width: 50vw;
  background-color: $detalles;
  margin: auto;
  text-align: center;
  padding: 50px;
}

// estilo columnas 2 seccion
