@import "_variables.scss";
.section_1 {
  font: normal 20px $texto;
}

.section_2 {
  font: normal 20px $texto;
}

.section_3 {
  font: normal 20px $texto;
}

.section_4 {
  font: normal 20px $texto;
}

.Iam p {
  font: bold 60px $titulos;
  color: white;
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  font: normal 40px/50px $texto;
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 30px;
}
.Iam .innerIam {
  display: inline-block;
  color: $menu_color;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  z-index: -2;
  text-align: left;

  /*animation*/

  animation: move 5s;
  /*animation-iteration-count*/

  animation-iteration-count: infinite;
  /*animation-delay*/

  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
}

// mobile iam animacion

// mi objetivo

.titulo_objetivo {
  font: bold 30px $titulos;
  color: $menu_color;
  transform: translate(100px, 20px);
}

.contenido_section2_p {
  margin-left: 20%;
  margin-right: 20%;
  font: normal 16px $texto;
}

// skills

.titulo_skills {
  font: bold 30px $titulos;
  color: $menu_color;
  transform: translate(100px, 20px);
}

.text_skills {
  font: bold 30px $titulos;
  color: $second_color;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 50% auto;
}

.titulo_card {
  font: bold 30px $titulos;
}

// contacto

.contacto_text {
  font: bold 30px $titulos;
  color: $menu_color;
}

// footer

.footer {
  font: normal 20px $texto;
}
