@import "_variables.scss";

.Iam p {
  font: bold 60px $titulos;
  color: white;
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  font: normal 40px/50px $texto;
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: $menu_color;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  z-index: -2;

  /*animation*/

  animation: move 5s;
  /*animation-iteration-count*/

  animation-iteration-count: infinite;
  /*animation-delay*/

  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
}

// div diagonal

// .skew {
//   padding: 150px 0;
//   transform: skew(0deg, -10deg);
//   background: black;
// }
