$amarillo: #fed539;

$azul: #2196f3;

$titulos: "Lato", sans-serif;

$texto: "Raleway", sans-serif;

$menu_color: $amarillo;

$detalles: $azul;

// ------------------------------blucle colores

$color-brand: $amarillo; // CC Brand Color
$detalles: $azul;

$brand-colors: (
  "brand": $color-brand,
  "detalles": $detalles,
);

@each $name, $value in $brand-colors {
  .color-#{$name} {
    background-color: $value;
  }
}
