$amarillo: #ffb647;

$azul: #09c0fa;

$negro: #171c26;

$titulos: "Lato", sans-serif;

$texto: "Raleway", sans-serif;

$menu_color: $amarillo;

$detalles: $azul;

$second_color: $negro;

// ------------------------------bucle colores

$color-brand: $amarillo; // CC Brand Color
$detalles: $azul;

$brand-colors: (
  "brand": $color-brand,
  "detalles": $detalles,
);

@each $name, $value in $brand-colors {
  .color-#{$name} {
    background-color: $value;
  }
}
