@import "_loader.scss";
@import "_menu.scss";
@import "_variables.scss";
@import "_footer.scss";
@import "_text.scss";
@import "_modos.scss";
@import "_estructura.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// scroll de las secciones
html {
  scroll-behavior: smooth;
}

p {
  font: normal 16px $texto;
}

// estilo padding espacio menu
// body {
//   padding-left: 80px;
// }

// espacio sections para que se vean bien al deslizar
section[id] {
  scroll-margin-top: 70px;
}

// estilos dispositivo mobile

@media (max-width: 768px) {
  body {
    padding-top: 60px;
    padding-left: 0px;
  }

  .header {
    height: 60px;
    width: 100%;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding: 0 30px;
    line-height: 60px;
  }

  .logo_mobile {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
  }

  .img_logo {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    // transicion menu despues(ya abieta)
    left: 100%;
    transition: left 0.9s;
    z-index: 2;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link {
    color: white;
    writing-mode: horizontal-tb;
  }

  .nav-menu-link:hover,
  .nav-menu-link-active {
    background: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    // transicion menu antes de abrir
    left: 0;
  }

  .nav-menu-link {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      margin: -1px -12px;
      background-color: black;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.4s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  // linea al seleccionar una sección
  .nav-menu-link-active {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      margin: -1px -12px;
      background-color: $detalles;
      visibility: visible;
      transform: scaleX(1);
      transition: all 0.4s ease-in-out 0s;
    }
  }
  // estilos thema movil
  .theme {
    color: white;
  }

  // estilos footer movil
  .foot_text {
    width: 100%;
  }

  .footer_contact {
    width: 100%;
  }

  .footer {
    display: block;
    margin: 0;
  }

  // estilos presentacion movil
  .izquierda {
    align-items: center;
  }
  .Iam {
    font: normal 20px $titulos;
  }
  .Iam p {
    font: bold 20px $titulos;
    color: white;
    height: 15px;
  }
  .Iam b {
    font: normal 30px $texto;
    height: 35px;
    top: 15px;
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -35px;
    }
    40% {
      top: -75px;
    }
  }

  .parrafo_centro {
    padding: 15px;
  }
}
