@import "_loader.scss";
@import "_menu.scss";
@import "_variables.scss";
@import "_footer.scss";
@import "_text.scss";
@import "_modos.scss";
@import "_estructura.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// scroll de las secciones
html {
  scroll-behavior: smooth;

  // position: relative;
}

p {
  font: normal 16px $texto;
}

// estilo padding espacio menu
body {
  margin-left: 80px;
  width: calc(100% - 80px);
}

// espacio sections para que se vean bien al deslizar
section[id] {
  scroll-margin-top: 70px;
}

// estilos dispositivo mediano

@media (max-width: 768px) {
  body {
    padding-top: 60px;
    margin-left: 0px;
    width: 100%;
  }

  .header {
    height: 60px;
    width: 100%;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding: 0 30px;
    line-height: 60px;
  }

  .logo_mobile {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
  }

  .img_logo {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: $second_color;
    position: fixed;

    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    z-index: 3;

    // transicion menu despues(ya abieta)

    left: 100%;
    transition: left 0.9s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link {
    color: white;
    writing-mode: horizontal-tb;
  }

  .nav-menu-link:hover,
  .nav-menu-link-active {
    background: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    // transicion menu antes de abrir
    left: 0;
  }

  .nav-menu-link {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      margin: -1px -12px;
      background-color: black;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.4s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  // linea al seleccionar una sección
  .nav-menu-link-active {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      margin: -1px -12px;
      background-color: $detalles;
      visibility: visible;
      transform: scaleX(1);
      transition: all 0.4s ease-in-out 0s;
    }
  }
  // estilos thema movil
  .theme {
    color: white;
  }

  // estilos footer movil
  .foot_text {
    width: 100%;
  }

  .footer_contact {
    width: 100%;
  }

  .footer {
    display: block;
    margin: 0;
  }

  // estilos presentacion movil

  .parrafo_centro {
    width: 25%;
  }

  .img_inicio_mobile {
    display: block;
    width: 30%;
    height: 60%;
    display: block;
    margin-top: 100px;
    background-image: url(../imagenes/recorte_web.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 10px;
  }

  .img_inicio_mobile:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171c269a;
  }

  .Iam {
    font: normal 20px $titulos;
  }
  .Iam p {
    font: bold 20px $titulos;
    color: white;
    height: 15px;
    float: none;
    text-align: center;
  }
  .Iam b {
    font: normal 30px $texto;
    height: 35px;
    top: 15px;
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -35px;
    }
    40% {
      top: -75px;
    }
  }

  .Iam .innerIam {
    text-align: center;
  }

  // section 1
  .section_1 {
    flex-direction: column;
  }
  .Iam {
    // transform: translate(0px, 0px); dejar en el centro texto
    transform: translate(0px, 130px);
  }

  .t_skills {
    transform: translate(0px, 0px);
    margin-right: 0px;
  }
  .izquierda {
    width: 100vw;
    height: 50vh;
    padding: 30px 20px;

    align-items: center;

    display: flex;
    justify-content: center;
    text-align: center;
  }

  .derecha {
    height: 50vh;
    width: 100vw;
    display: none;
  }

  .parrafo_centro {
    justify-content: center;
    height: 25vh;
    width: 100vw;
    padding: 50px;
    display: flex;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
  }
  // section 2

  .objetivo_div {
    width: 100%;
    text-align: center;
  }

  .titulo_objetivo {
    margin-left: 0px;
    margin-top: 0px;
    transform: translate(0px, 0px);
  }
  .contenido_section2 {
    padding: 60px 120px;
    margin-left: 0px;
    margin-top: 30px;
  }

  .contenido_section2_p {
    margin-left: 0px;
    margin-right: 0px;
  }

  // section 3 skills

  .skills_div {
    width: 100%;
    text-align: center;
  }

  .titulo_skills {
    margin-left: 0px;
    margin-top: 0px;
    transform: translate(0px, 0px);
  }

  .skills {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    height: 300px;
    margin-bottom: 80px;
  }
  .img_card {
    min-height: 100px;
    max-width: 250px;
    display: block;
    margin: auto;
  }

  // section 4 contacto

  .form_izquierda {
    width: 100%;
  }

  .form_derecha {
    width: 100%;
    margin-top: 10%;
  }

  .hr_mobile {
    display: block;
  }
}

// pantallas grandes

@media (min-width: 1500px) {
  .skew {
    transform: skew(0deg, -5deg);
    margin-top: -70px;
    padding: 70px 0;
  }

  .izquierda {
    padding: 0px 12px;
  }

  .t_skills {
    margin-top: 50px;
  }
}

@media (min-width: 1600px) {
  .izquierda {
    padding: 0px 40px;
  }

  .t_skills {
    margin-top: 50px;
  }
}
